* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
  width: 100px;
  height: 100px;
}

@keyframes item-animation {
  0% {
    height: 20%;
  }

  20% {
    height: 100%;
  }

  40% {
    height: 20%;
  }
}

.item {
  width: 20%;
  height: 20%;
  background: darkorange;
  animation-name: item-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.item:nth-child(2) {
  animation-delay: .1s;
}

.item:nth-child(3) {
  animation-delay: .2s;
}

.item:nth-child(4) {
  animation-delay: .3s;
}







