* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: yellow;
}

.menu .items {
  display: flex;
  flex-direction: column;
}

.menu .menu-btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #494949;
}

.menu .menu-btn:hover {
  background: #eaea02;
}

.menu .logo h1 {
  font-size: 1.5rem;
}

.mobile-menu-btn {
  align-self: center;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  margin-right: 15px;
}

.mobile-menu-btn .line {
  height: 4px;
  background: #494949;
}

.flex-container {
  display: flex;
  width: 80%;
}

.notifications {
  width: 30%;
  background: yellowgreen;
}

.content {
  width: 70%;
  background: crimson;
}

@media (max-width: 1050px) {

  .container {
    width: 800px;
    flex-direction: column;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }

  .menu .items {
    flex-direction: row;
  }

  .menu .logo {
    margin-right: auto;
  }

  .flex-container {
    flex-grow: 1;
    width: 100%;
  }
}

@media (max-width: 850px) {

  .container {
    width: 500px;
  }

  .menu .items {
    display: none;
  }

  .mobile-menu-btn {
    display: flex;
  }

  .notifications {
    display: none;
  }

  .content {
    width: 100%;
  }
}

@media (max-width: 500px) {

  .container {
    width: 100%;
  }
}
