* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 35px auto;
}

.header {
  height: 150px;
  background: yellowgreen;
}

.flex-container {
  display: flex;
  height: 450px;
}

.sidebar {
  width: 250px;
  background: crimson;
}

.content {
  width: 750px;
  background: yellow;
}
